@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

header {
    padding: 18px 0;
}

.container {
    max-width: 940px;
    margin: auto;

}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center
}

#navbar {
    list-style: none;
    display: flex
}

header nav li {
    margin-left: 34px
}

header nav li a {
    font-family: 'montserratregular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #404040;
    text-decoration: none;
    display: inline-block;
}

header nav li a:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

footer {
    padding: 69px 0;
    background-color: #000000;
}

.footer_wrapper {
    max-width: 564px;
    margin: auto;
    text-align: center;
}

.contact_info {
    width: 100%;
    background: rgba(255, 255, 255, 0.18);
    border: none;
    padding: 18px 31px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.contact_info:focus {
    outline: none;
    background-color: #7EC4BD;
}

.contact_email {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 18px 31px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.contact_email:focus {
    outline: none;
    background-color: #7EC4BD;
}

.contact_project {
    width: 100%;
    height: 127px;
    resize: none;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 18px 31px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.contact_project:focus {
    outline: none;
    background-color: #7EC4BD;
}

::-webkit-input-placeholder {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

::-moz-placeholder {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

/* Firefox 19+ */
:-moz-placeholder {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

/* Firefox 18- */
:-ms-input-placeholder {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn_send {
    background-color: #000000;
    border: 1px solid #7EC4BD;
    border-bottom: 2px solid #7EC4BD;
    width: 210px;
    box-sizing: border-box;
    padding: 15px 0;
    margin-top: 22px;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
}

.btn_send:hover {
    background-color: #7EC4BD;
    color: black;
}

.footer_logo {
    margin-top: 37px
}

.text_bottom {
    margin-top: 14px;
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}

.main_banner {
    min-height: 391px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    display: flex;
}

.main_banner h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main_banner p {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
}

.main_banner h1:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 26px;
    margin-bottom: 26px;
}

.main_banner_description {
    background: #FEFEC9;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.main_banner_description p{
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
    margin-bottom: 39px;
}

.main_banner_description a {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #47474F;
    display: inline-block;
    padding: 13px 34px 20px;
    border: solid 1px #47474F;
    border-bottom: solid 2px #47474F;
    text-decoration: none;
}

.brands {
    padding: 79px 0 74px;
    text-align: center;
}

.brands h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.brands h2:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.09);
    margin: auto;
    margin-top: 28px;
    margin-bottom: 43px;
}

.brands article{
    width: 320px;
    box-sizing: border-box;
}

.brands_icon {
    width: 300px;
    height: 219px;
    background: #F5F5F5;
    text-align: center;
    box-sizing: border-box;

}

.brands_icon img {
    text-align: center;
    margin: 50px
}

.brands h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 38px 0 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;

}

.brands p {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    box-sizing: border-box;
    padding: 0 10px;
}

.projects {
    background: #F5F5F5;
    padding: 79px 0 89px;
    text-align: center;
}

.projects h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.projects h2:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    margin: auto;
    margin-top: 28px;
    margin-bottom: 43px;
}

.project_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project_card {
    height: 384px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.scale {
    transition: 1s;
}

.scale:hover{
    transform: scale(1.2);
}

.project_card h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 19px 0 4px;
}

.project_card h4 {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    padding-bottom: 21px;
}